.content-search-bar {
  position: relative;
}

.list-empresas-encontradas {
  display: block;
  position: absolute;
  background-color: white;
  top: 50px;
  width: 400px;
  border-radius: 12px;
  border: 1px solid #adadad;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 16px;
  list-style: none;
}

.item-empresa {
  margin-bottom: 16px;
  padding: 8px 0px;
  border-bottom: 1px solid #adadad;
  cursor: pointer;
}
.item-empresa h2 {
  font-size: 1.15rem;
  margin-bottom: 4px;
}

.item-empresa span {
  font-size: 0.9rem;
  margin-bottom: 8px;
}
