.table_component {
  overflow: auto;

  max-width: 550px;
}

.table_component table {
  border: 1px solid #dededf;
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: center;
}

.table_component caption {
  caption-side: top;
  text-align: left;
}

.table_component th {
  border: 1px solid #dededf;
  background-color: #ffcc00;
  color: #000000;
  padding: 5px;
}

.table_component td {
  border: 1px solid #dededf;
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
}

.table_component .content-action-table {
  display: flex;
}

.table_component .content-action-table button {
  padding: 2px 0;
  background-color: transparent;
}

.content-crud .content-form {
  margin-bottom: 40px;
}

.btn-regresar {
  margin-top: 60px;
}

