---
import GlobalLayout from "../../layout/GlobalLayout.astro";
import { EditarUsuario } from "../../components/Formularios/EditarUsuario";
import { axiosInstance } from "../../utils/axiosInstance";
const token = (Astro.cookies.get("token") || {})?.value;

if (!token) {
  return Astro.redirect("/");
}
const id_usuario = (Astro.cookies.get("id_usuario") || {})?.value || "";

const { data } = await axiosInstance(`/usuarios/${id_usuario}`, {
  method: "GET",
});

console.log({ data });
---

<GlobalLayout title="Mi cuenta">
  <style>
    .content-page {
      min-height: calc(100vh - 120px);
      display: flex;
      justify-content: center;
    }

    .content-page h2 {
      text-align: center;
      margin-block: 60px;
    }
  </style>

  <div class="content-page">
    <section>
      <h2>Mi cuenta</h2>

      <EditarUsuario defaultValues={data} idUser={id_usuario} client:load />
    </section>
  </div>
</GlobalLayout>
