/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fdf3d0;
  color: #333;
}

/* Encabezado */
header {
  background-color: #ffcc00; /* Amarillo clásico de Páginas Amarillas */
  padding: 15px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button {
  cursor: pointer;
  display: block;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 6px;
}

main {
  padding: 15px 20px;
}

a {
  color: black;
  text-decoration: none;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo {
  font-size: 1.8em;
  font-weight: bold;
  color: #333;
}

/* Barra de búsqueda */
.search-bar {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.search-bar input {
  width: 100%;
  width: 400px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 1em;
  outline: none !important;
  box-shadow: none;
}
.search-bar input:focus-visible {
  outline: none;
  box-shadow: none;
}

/* Barra de navegación */
.navbar {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: #d65c00; /* Color de hover */
}
