---
import GlobalLayout from "../../layout/GlobalLayout.astro";
import { CrearCuenta } from "../../components/Formularios/CrearCuenta";

const token = (Astro.cookies.get("token") || {})?.value;

if (token) {
  return Astro.redirect("/");
}
---

<GlobalLayout>
  <style>
    .content-form-inicio-sesion {
      height: calc(100vh - 120px);
      display: flex;
      justify-content: center;
    }

    .content-form-inicio-sesion h2 {
      text-align: center;
      margin-block: 60px;
    }

    .content-crear-cuenta {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 40px;
    }

    .content-crear-cuenta span {
      display: block;
      text-align: center;
    }

    .content-crear-cuenta button {
      display: block;
      text-align: center;
      background-color: transparent;
      border: 1px solid black;
    }
  </style>

  <div class="content-form-inicio-sesion">
    <section>
      <h2>Crear cuenta</h2>

      <CrearCuenta client:load />

      <div class="content-crear-cuenta">
        <span>¿Ya tienes una cuenta?</span>

        <a href="/iniciar-sesion" class="inline-block btn btn-primary text-center">Inicia sesión aquí</a>
      </div>
    </section>
  </div>
</GlobalLayout>
