---
import GlobalLayout from "../layout/GlobalLayout.astro";
import { axiosInstance } from "../utils/axiosInstance";
import { CardEmpresas } from "../components/commons/CardEmpresa";

const { data } = await axiosInstance("/empresas", {
  method: "GET",
  params: { skip: 0, limit: 50 },
});

console.log(data);
---

<GlobalLayout title="Páginas amarrillas">
  <div>
    <CardEmpresas empresas={data} client:load />
  </div>
</GlobalLayout>
