---
import GlobalLayout from "../../layout/GlobalLayout.astro";
import { InicioSesion } from "../../components/Formularios/InicioSesion";

const token = (Astro.cookies.get("token") || {})?.value;

if (token) {
  return Astro.redirect("/");
}
---

<GlobalLayout title="Iniciar sesión">
  <style>
    .content-form-inicio-sesion {
      height: calc(100vh - 120px);
      display: flex;
      justify-content: center;
    }

    .content-form-inicio-sesion h2 {
      text-align: center;
      margin-block: 60px;
    }

    .content-crear-cuenta {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 40px;
    }

    .content-crear-cuenta span {
      display: block;
      text-align: center;
    }

    .content-crear-cuenta button {
      display: block;
      text-align: center;
      background-color: transparent;
      border: 1px solid black;
    }

    .content-crear-cuenta button a {
      display: block;
    }
  </style>

  <div class="content-form-inicio-sesion">
    <section>
      <h2>Iniciar sesión</h2>

      <InicioSesion client:load />

      <div class="content-crear-cuenta">
        <span>¿Aún no tienes una cuenta?</span>

        <button>
          <a href="/crear-cuenta"> Regístrate aquí </a>
        </button>
      </div>
    </section>
  </div>
</GlobalLayout>
